/* File Browser Header */
.filebrowserheader{
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
}
.filebrowserheader::-webkit-scrollbar{
    width: 0; height: 0;
}

.filebrowserheader-item{
    padding: 8px;
    padding-left: 16px;
    padding-right: 16px;
    user-select: none;
}

.filebrowserheader-item:hover{
    background-color: var(--var-color-bglighter);
}

.filebrowserheader-item.selected{
    background-color: var(--var-color-bglighter-alt);
}

/* File Browser Item */
.filebrowseritem{
    display: flex;
    flex-direction: row;
    height: 16px;
    padding:8px;
    user-select: none;
    cursor: pointer;
    line-height: 16px;
}

.filebrowseritem:hover{
    background-color: var(--var-color-bglighter);
}
.filebrowseritem:active{
    background-color: var(--var-color-bg);
}
.filebrowseritem-icon{
    width: 16px; height: auto;
}