/* All Variables Goes Here */
:root{
    /* Colors */
    --var-color-bg : #202020;
    --var-color-fg : #ffffff;
    --var-color-accent : rgb(24, 202, 113);
    --var-color-bglighter : #272727;
    --var-color-bgdarker : #191919;
    --var-color-outline : #505050;

    /* Extra colors */
    --var-color-card-hover: #303030;

    /* Misc properties */
    --var-font-family : 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
html, body {
    margin: 0;
    height: -webkit-fill-available;
}

/* Disable selecting text */
h1,h2,h3,h4{
    user-select: none;
}


/* Body */
body {
    background-color: var(--var-color-bg);
    color: var(--var-color-fg);
    font-family: var(--var-font-family);
    border: 1px solid var(--var-color-outline);

    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    margin: 0;
    border-top: 4px solid var(--var-color-accent);
}

/* Title Bar */
.titlebar{
    background-color: var(--var-color-bglighter);
    -webkit-app-region: drag;
    position: absolute;
    top: 0;
    width: -webkit-fill-available;
    font-size: 10pt;
    padding-left: 8px;
    height: 32px;
    user-select: none;

    display: flex;
    flex-direction: row;
    line-height: 24px;
}

.titlebar p{
    overflow: hidden;
}

.titlebarbtn {
    width: 48px;
    height: 32px;
    /* background-color: rgb(27, 27, 27); */
    -webkit-app-region: no-drag;
}

.titlebarbtn:hover {
    background-color: rgb(78, 78, 78);
}
.titlebarbtn:active {
    opacity: 80%;
}

.titlebar .titlebarbtn::after{
    width: 48px;
    height: 32px;
    content: " ";
    position: absolute;
    background-color: white;
    user-select: none;
    pointer-events: none;
}

.titlebar .closebtn::after{
    -webkit-mask: url("data:image/svg+xml;charset=utf-8,%3Csvg width='11' height='11' viewBox='0 0 11 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.279 5.5L11 10.221l-.779.779L5.5 6.279.779 11 0 10.221 4.721 5.5 0 .779.779 0 5.5 4.721 10.221 0 11 .779 6.279 5.5z' fill='%23000'/%3E%3C/svg%3E") no-repeat 50% 50%;
}
.titlebar .titlebarbtn:hover.closebtn{
    background-color: rgb(212, 71, 71);
}
.titlebar .restorebtn::after{
    -webkit-mask: url("data:image/svg+xml;charset=utf-8,%3Csvg width='11' height='11' viewBox='0 0 11 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 0v11H0V0h11zM9.899 1.101H1.1V9.9h8.8V1.1z' fill='%23000'/%3E%3C/svg%3E") no-repeat 50% 50%;
}
.titlebar .maximizebtn::after{
    -webkit-mask: url("data:image/svg+xml;charset=utf-8,%3Csvg width='11' height='11' viewBox='0 0 11 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 8.798H8.798V11H0V2.202h2.202V0H11v8.798zm-3.298-5.5h-6.6v6.6h6.6v-6.6zM9.9 1.1H3.298v1.101h5.5v5.5h1.1v-6.6z' fill='%23000'/%3E%3C/svg%3E") no-repeat 50% 50%;
}
.titlebar .minimizebtn::after{
    -webkit-mask: url("data:image/svg+xml;charset=utf-8,%3Csvg width='11' height='11' viewBox='0 0 11 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 4.399V5.5H0V4.399h11z' fill='%23000'/%3E%3C/svg%3E") no-repeat 50% 50%;
}

/* Content Div */
.content-div{
    padding: 16px;
    display: flex;
    flex-direction: column;
    height: -webkit-fill-available;
    margin-top: 32px;
}

/* Controls Divs */
.card {
    background-color: var(--var-color-bglighter);
    border-radius: 8px;
    box-shadow: 0px 2px 8px #1919196e;
    padding: 16px;
    margin: 8px;
    user-select: none;
    cursor: pointer;

    transition: background-color .2s;
}

.card:hover{
    background-color: var(--var-color-card-hover);
}
.card a, .card p{
    user-select: none;
}
.card .subtitle{
    opacity: 80%;
}

/* Layouting */
.flex-hor{
    display: flex;
    flex-direction: row;
}

/* Project Manager */
.manager{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: -webkit-fill-available;
    margin-top: 32px;
    position: absolute;
}
.manager-left{
    width: 400px; height: -webkit-fill-available;
    background-color: var(--var-color-bgdarker);
}
.manager-right{
    display: flex;
    flex-direction: column;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
}

.manager-button{
    border-radius: 8px;
    padding: 12px;
    margin: 8px;
    /* text-align: center; */
    width: 30%;
    user-select: none;
    margin: auto;
    font-size: 10pt;
    transition: background-color .2s;
    cursor: pointer;
    line-height: 12pt;
}

.manager-button:hover{
    background-color: var(--var-color-bglighter);
    transition: none;
}
.manager-button:active{
    background-color: var(--var-color-bgdarker);
}


.manager-button .fas{
    /* Override FontAwesome icon size */
    font-size: 12pt;
}

.project {
    padding: 10px;
    padding-left: 30px;
}

.project:hover{
    background-color: #464646;
}

.project h3 {
    margin-block: 2px;
}

.project-path {
    font-size: small;
    color: #8f8f8f;
}